:root {
    --header-height: 3rem;
    --background-color: #000000;
    
    --white-color: #E6E7E9;

    --primary-accent-color: #00abf0;
    --primary-accent-color-rgb: 0, 171, 240;

    --secondary-accent-color: #ffc300;
    --secondary-accent-color-rgb: 255, 195, 0;
}